@tailwind base;

input[type="text"],
[type="date"],
[type="email"],
[type="password"],
select {
  @apply border-light-grey outline-purple active:border-purple mb-5 mt-2.5 h-12 rounded-md border px-5 text-sm font-bold text-black;
}

@tailwind components;
@tailwind utilities;

:root {
  --purple: #7c5dfa;
  --purple-hover: #9277ff;
  --red: #ec5757;
  --red-hover: #ff9797;
  --dark-blue: #1e2139;
  --blue: #373b53;
  --light-blue: #7e88c3;
  --light-grey: #dfe3fa;
  --grey: #888eb0;
  --black: #0c0e16;
  --black2: #141625;
  --light-bg: #f8f8fb;
}
